<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>



<div>
    <h1>Users Info</h1>

    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>

        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}"></td>
            <td ><a th:href="@{/jm-spring/{id}(id=${user.getId()})}" th:utext="${user.getName()}">Ref</a></td>

        </tr>

    </table>
    <br/>


</div>

</body>
</html>
